{% extends 'base.html' %}

{% block content %}
<!-- <h1>Signin(Iniciar Sesión)</h1>-->
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5"><!--col: Indica que es una columna.
            md-4: Indica que la columna ocupará 4 de las 12 columnas disponibles y (md)=dispositivos medianos , offset: Indica un desplazamiento, mt-5 es el margen superior-->
            
            <form method="POST" class="card card-body "><!-- el metodo post lo envía de forma oculta y no en la URL, card card-body lo hace con forma de tarjeta-->
                <h1 class="text-center">Signin</h1>
                {{error}}<!-- recibe el parametro error de views de la funcion def signup-->
                {% csrf_token %}
                <!-- {{ form }} -->
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username"  class="form-control" placeholder="Escribe tu nombe de usuario" ><!-- La clase form-control en Bootstrap se utiliza para darle estilo a los elementos de formulario, como cajas de texto, áreas de texto -->
                </div>
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password"  class="form-control" placeholder="Escribe tu Password" >
                </div>
                
                <button class="btn btn-primary">
                    Signin
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
